In [1]:
import pandas as pd
import numpy as np

Load in the dataframe

In [2]:
df = pd.read_csv('data/McDonald_s_Reviews.csv', encoding='latin-1')
df

,reviewer_id,store_name,category,store_address,latitude,longitude,rating_count,review_time,review,rating
0,1,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1 star
1,2,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars
2,3,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1 star
3,4,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5 stars
4,5,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star
...,...,...,...,...,...,...,...,...,...,...
33391,33392,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",4 years ago,They treated me very badly.,1 star
33392,33393,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,The service is very good,5 stars
33393,33394,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,To remove hunger is enough,4 stars
33394,33395,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",5 years ago,"It's good, but lately it has become very expen...",5 stars
33395,33396,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2 years ago,they took good care of me,5 stars

Explore data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33396 entries, 0 to 33395
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   reviewer_id    33396 non-null  int64
 1   store_name     33396 non-null  object
 2   category       33396 non-null  object
 3   store_address  33396 non-null  object
 4   latitude       32736 non-null  float64
 5   longitude      32736 non-null  float64
 6   rating_count   33396 non-null  object
 7   review_time    33396 non-null  object
 8   review         33396 non-null  object
 9   rating         33396 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 2.5+ MB

In [4]:
df['category'].value_counts()

category
Fast food restaurant    33396
Name: count, dtype: int64

In [5]:
df['category'].unique()

array(['Fast food restaurant'], dtype=object)

In [6]:
df['rating'].value_counts()

rating
5 stars    10274
1 star      9431
4 stars     5787
3 stars     4818
2 stars     3086
Name: count, dtype: int64

In [7]:
df['store_name'].unique()

array(["McDonald's", "ýýýMcDonald's"], dtype=object)

'category', 'store_name', 'reviewer_id' irreleveant, will drop.

In [9]:
df = df.drop(['category', 'store_name', 'reviewer_id'], axis=1)
df.head()

,store_address,latitude,longitude,rating_count,review_time,review,rating
0,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1 star
1,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars
2,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1 star
3,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5 stars
4,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33396 entries, 0 to 33395
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_address  33396 non-null  object
 1   latitude       32736 non-null  float64
 2   longitude      32736 non-null  float64
 3   rating_count   33396 non-null  object
 4   review_time    33396 non-null  object
 5   review         33396 non-null  object
 6   rating         33396 non-null  object
dtypes: float64(2), object(5)
memory usage: 1.8+ MB

Some NaN values with 'latitude' and 'longitude'.

In [11]:
#lat_nan = df[df['latitude'].isnull()]

KeyError: 'latitude'

In [12]:
#df['latitude'].head(50)

KeyError: 'latitude'

In [13]:
print(df.columns)

Index(['store_address', 'latitude ', 'longitude', 'rating_count',
       'review_time', 'review', 'rating'],
      dtype='object')

In [14]:
df.columns = df.columns.str.strip()

In [15]:
print(df.columns)

Index(['store_address', 'latitude', 'longitude', 'rating_count', 'review_time',
       'review', 'rating'],
      dtype='object')

In [16]:
df['latitude'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
33391    False
33392    False
33393    False
33394    False
33395    False
Name: latitude, Length: 33396, dtype: bool

In [17]:
rows_with_nan = df[df['latitude'].isna()]

In [18]:
print(rows_with_nan)

                                           store_address  latitude  longitude  \
22141  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN
22142  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN
22143  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN
22144  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN
22145  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN
...                                                  ...       ...        ...
27719  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN
27720  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN
27721  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN
27722  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN
27723  2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿...       NaN        NaN

      rating_count    review_time  \
22141        2,175   3 months ago
22142        2,175     a year ago
22143        2,175    2 weeks ago
22144        2,175    a month ago
22145        2,175   2 months ago
...            ...            ...
27719        2,175    3 years ago
27720        2,175  11 months ago
27721        2,175  11 months ago
27722        2,175  11 months ago
27723        2,175   8 months ago

                                                  review   rating
22141  Breakfast specials are good. The sausage burri...  4 stars
22142  This isn't your typical McDonald's. This place...  5 stars
22143  This place was serving good quality breakfast ...  4 stars
22144  I understand this is a very busy location but ...   1 star
22145  When I arrived at McDonald's, it was very crow...  4 stars
...                                                  ...      ...
27719  This McDonald's is across the street from Waik...  5 stars
27720  Seems like, they always makes some mistakes wh...  2 stars
27721  Convenient to the east end of Kalakaua Ave. Lo...  4 stars
27722  Lost McDonald's in Honolulu, if you can avoid ...   1 star
27723  Everytime I visit Waikiki for a vacation this ...   1 star

[660 rows x 7 columns]

660 NaNs for Lat&Long, will drop.

In [19]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32736 entries, 0 to 33395
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_address  32736 non-null  object
 1   latitude       32736 non-null  float64
 2   longitude      32736 non-null  float64
 3   rating_count   32736 non-null  object
 4   review_time    32736 non-null  object
 5   review         32736 non-null  object
 6   rating         32736 non-null  object
dtypes: float64(2), object(5)
memory usage: 2.0+ MB

In [20]:
df[['store_address', 'latitude', 'longitude']]

                                           store_address   latitude  longitude
0      13749 US-183 Hwy, Austin, TX 78750, United States  30.460718 -97.792874
1      13749 US-183 Hwy, Austin, TX 78750, United States  30.460718 -97.792874
2      13749 US-183 Hwy, Austin, TX 78750, United States  30.460718 -97.792874
3      13749 US-183 Hwy, Austin, TX 78750, United States  30.460718 -97.792874
4      13749 US-183 Hwy, Austin, TX 78750, United States  30.460718 -97.792874
...                                                  ...        ...        ...
33391  3501 Biscayne Blvd, Miami, FL 33137, United St...  25.810000 -80.189098
33392  3501 Biscayne Blvd, Miami, FL 33137, United St...  25.810000 -80.189098
33393  3501 Biscayne Blvd, Miami, FL 33137, United St...  25.810000 -80.189098
33394  3501 Biscayne Blvd, Miami, FL 33137, United St...  25.810000 -80.189098
33395  3501 Biscayne Blvd, Miami, FL 33137, United St...  25.810000 -80.189098

[32736 rows x 3 columns]

In [21]:
unique_rows = df[['store_address', 'latitude', 'longitude']].drop_duplicates()
unique_rows

,store_address,latitude,longitude
0,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874
800,"1698 US-209, Brodheadsville, PA 18322, United ...",40.922081,-75.399919
1828,"72-69 Kissena Blvd, Queens, NY 11367, United S...",40.727401,-73.812460
2968,"429 7th Ave, New York, NY 10001, United States",40.750506,-73.990583
4108,"724 Broadway, New York, NY 10003, United States",40.729126,-73.993264
5248,"160 Broadway, New York, NY 10038, United States",40.709375,-74.009979
5251,"555 13th St NW, Washington, DC 20004, United S...",38.896980,-77.028913
5254,"10451 Santa Monica Blvd, Los Angeles, CA 90025...",34.056593,-118.426000
5257,"114 Delancey St, New York, NY 10002, United St...",40.718838,-73.988280
5260,"5920 Balboa Ave, San Diego, CA 92111, United S...",32.820654,-117.178011
5810,"262 Canal St, New York, NY 10013, United States",40.718514,-74.001168
6080,"490 8th Ave, New York, NY 10001, United States",40.752529,-73.992876
6950,"550 Lawrence Expy, Sunnyvale, CA 94086, United...",37.385495,-121.995421
7750,"11382 US-441, Orlando, FL 32837, United States",28.399986,-81.405103
8460,"210 5th S, Salt Lake City, UT 84106, United St...",40.759057,-111.897383
9350,"1916 M St NW, Washington, DC 20036, United States",38.905456,-77.044235
10030,"151 West 34th Street (Macy's 7th Floor, New Yo...",40.750831,-73.989096
10090,"690 Alameda St, Los Angeles, CA 90021, United ...",34.035270,-118.238206
10640,"1650 Washington Ave, Miami Beach, FL 33139, Un...",25.790295,-80.132077
11210,"1121 Garnet Ave, San Diego, CA 92109, United S...",32.797661,-117.249470
11890,"1044 US-11, Champlain, NY 12919, United States",44.981410,-73.459820
12500,"501 W Imperial Hwy, Los Angeles, CA 90044, Uni...",33.931261,-118.282955
12980,"1540 2nd St, Santa Monica, CA 90405, United St...",34.012219,-118.494540
13570,"6875 Sand Lake Rd, Orlando, FL 32819, United S...",28.450387,-81.471414
14030,"25200 I-10 Lot 2, San Antonio, TX 78257, Unite...",29.676267,-98.634580
14660,"111 Madison St, Oak Park, IL 60302, United States",41.879656,-87.777913
15360,"8500 US-290, Austin, TX 78724, United States",30.329135,-97.660629
16270,"10901 Riverside Dr, North Hollywood, CA 91602,...",34.152507,-118.367904
17230,"702-2 Haddonfield-Berlin Rd, Voorhees Township...",39.852059,-74.981099
18163,"1100 N US Hwy 377, Roanoke, TX 76262, United S...",33.009318,-97.222925
19161,"621 Broadway, Newark, NJ 07104, United States",40.771910,-74.161475
20261,"2400 Alliance Gateway Fwy, Fort Worth, TX 7617...",32.958041,-97.307652
21111,"By Mandalay Bay, 3999 S Las Vegas Blvd, Las Ve...",36.090244,-115.175822
22791,"5725 W Irlo Bronson Memorial Hwy, Kissimmee, F...",28.333508,-81.513738
23561,"1415 E State Rd, Fern Park, FL 32730, United S...",28.655350,-81.342692
24121,"9814 International Dr, Orlando, FL 32819, Unit...",28.423814,-81.461242
24871,"7010 Bradlick Shopping Center, Annandale, VA 2...",38.812823,-77.185055
25311,"632 S R L Thornton Freeway Service Rd, Dallas,...",32.744596,-96.812286
25821,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098

In [22]:
len(unique_rows)

39

39 unique combos of address, lat & long

Change 'rating' from object to float

In [23]:
df['rating'] = df['rating'].str.extract('(\d+)').astype(float)
df['rating'].value_counts()

<ipython-input-23-0f302563f899>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rating'] = df['rating'].str.extract('(\d+)').astype(float)

rating
5.0    10059
1.0     9305
4.0     5646
3.0     4706
2.0     3020
Name: count, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32736 entries, 0 to 33395
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_address  32736 non-null  object
 1   latitude       32736 non-null  float64
 2   longitude      32736 non-null  float64
 3   rating_count   32736 non-null  object
 4   review_time    32736 non-null  object
 5   review         32736 non-null  object
 6   rating         32736 non-null  float64
dtypes: float64(3), object(4)
memory usage: 2.0+ MB

In [25]:
print(df['rating'].dtype)

float64

In [26]:
df['rating_count']

0        1,240
1        1,240
2        1,240
3        1,240
4        1,240
         ...
33391    2,810
33392    2,810
33393    2,810
33394    2,810
33395    2,810
Name: rating_count, Length: 32736, dtype: object

In [27]:
df['rating_count'].value_counts()

rating_count
2,810     1140
2,193     1140
2,052     1140
1,670     1140
2,658     1140
5,468     1140
1,618     1140
1,564     1100
2,365     1030
1,028     1028
998        998
1,795      960
5,567      950
933        943
1,406      926
3,243      890
3,902      870
957        850
1,240      800
1,562      800
5,566      770
1,454      751
1,794      750
5,466      750
1,861      710
1,269      680
1,159      680
1,460      635
1,306      610
595        602
3,380      590
4,922      570
1,617      560
2,614      550
550        550
2,657      510
2,722      481
19,671     460
2,808      430
3,196      270
3,381      230
1,565      190
999        170
263         60
19,682      30
1,307       10
2,348        3
2,251        3
1,542        3
5,186        3
Name: count, dtype: int64

'rating_count' = # ratings for the store. could use for further analysis.

'review_time' could be used to see how reviews change over time

drop 'store_name', it's unneccessary.

In [29]:
df_cleaned = df
df_cleaned

,store_address,latitude,longitude,rating_count,review_time,review,rating
0,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1.0
1,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4.0
2,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1.0
3,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5.0
4,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1.0
...,...,...,...,...,...,...,...
33391,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",4 years ago,They treated me very badly.,1.0
33392,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,The service is very good,5.0
33393,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,To remove hunger is enough,4.0
33394,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",5 years ago,"It's good, but lately it has become very expen...",5.0
33395,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2 years ago,they took good care of me,5.0

In [30]:
df_cleaned.to_csv('data/cleaned.csv')